# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

- **Objectives:**
    -  Languages of Datascience
    -  Libraries used by Datascitists
    -  Tool of Datascience

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. SciKit-Learn
2. Pandas
3. Matplotlib
4. TensorFlow

| Data Science Tools |
|-----------------|
|  Jupyter   |
|  Apache Spark   |
|  MATLAB   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Maina Duseja